.btn {
    padding: 11px 28px;
    border: 1px solid #E7332B;
    margin-bottom: 2rem;
}

.btn-red {
    background-color: #E7332B;
    color: #fff;
    margin-right: 1.5rem;
}

.btn-red:hover {
    background-color: #fff;
    color: #E7332B;
}

.btn-white {
    background-color: #fff;
    color: #E7332B;
}

.btn-white:hover {
    background-color: #E7332B;
    color: #fff;
}